xml/partidas_esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="presupuesto_existente">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partida" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:int" use="required"/>
                        <xs:attribute name="idSociedadInterna" type="xs:int" use="required"/>
                        <xs:attribute name="nombreSociedadInterna" type="xs:string" use="required"/>
                        <xs:attribute name="importe" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipoGasto" type="xs:string"  use="required"/>
                        <xs:attribute name="iniciativa" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
